@media (max-width: 480px) {
  /* Aturan CSS untuk perangkat mobile */

  .header-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .logo {
    padding-left: 30px;
  }
  .logo h1 {
    font-size: 20px;
  }

  /* Hamaburger Menu IN */
  .hamburger-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }

  .hamburger-toggle input {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    z-index: 2;
  }

  .hamburger-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #111111;
    border-radius: 3px;
    transition: all 0.7s;
  }

  /* Hamburger Menu Animation */
  .hamburger-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .hamburger-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }

  .hamburger-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .hamburger-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }
  .hamburger-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .header-container .nav-list ul {
    justify-content: space-evenly;
    gap: 0;
    position: absolute;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: white;
    align-items: center;
    z-index: -51;
    padding-bottom: 100px;
    padding-top: 30%;
    transform: translateX(100%);
    transition: 1s all;
  }
  .header-container .nav-list ul.toggle {
    transform: translate(0);
  }
  .header-container li a {
    border-bottom: groove #f3f3f3;
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    padding: 10px 100px;
    border-radius: 3px;
  }

  /* Hamburger Menu Out */

  /* Home Responsive In */
  .home-container {
    padding-top: 80px;
  }
  .home-container > h1 {
    word-spacing: 4px;
    letter-spacing: 0px;
  }

  /* Home Responsive Out */

  /* About In */
  .about-container {
    margin-top: 80px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .about-container h1 {
    margin: 90px 0 0 0px;
    font-size: 32px;
    word-spacing: 6px;
    letter-spacing: 3px;
  }
  .about-container span {
    margin: 10px 0 0 0px;
  }
  .about-img img {
    width: 210px;
  }
  .about-content {
    margin: 20px 30px 0 30px;
    align-items: center;
    flex-direction: column;
  }

  .about-txt {
    align-items: center;
    text-align: center;
  }
  .about-txt h3 {
    font-size: 24px;
  }
  .about-txt h4 {
    font-size: 16px;
  }
  .about-txt p {
    font-size: 14px;
  }
  .about-txt a {
    margin-bottom: 50px;
  }

  /* About Out */

  /* Skills In */
  .skills-container {
    padding: 60px 0 0 0;
    height: 100%;
    align-items: center;
  }
  .skills-container h1 {
    margin: 90px 0 0 0px;
  }
  .skills-container span {
    margin: 10px 0 0 0px;
  }

  .skill-content {
    margin: 50px 0 0 0;
  }

  /* Skills Out */

  /* Galerry In */
  .gallery-container {
    padding: 60px 0;
    flex-direction: column;
    background-color: #f3f3f3;
    color: #111111;
    align-items: center;
  }
  .gallery-container h1 {
    margin: 90px 0 0 0px;
  }
  .gallery-container span {
    margin: 10px 0 0 0px;
  }

  .gallery-container h3 {
    text-align: center;
    margin: 10px 0 0 0;
  }

  .gallery-content {
    margin: 50px 0px 0 0px;
  }
  .content-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111111;
    width: 287.33px;
    height: 218px;
    box-shadow: 0px 2px 30px 5px #747474;
  }
  .content-img img {
    width: 277.33px;
    height: 208px;
  }
  .content-caption {
    display: none;
  }
  .content-img:hover .content-caption {
    display: flex;
    position: absolute;
    background-color: white;
    width: 287.33px;
    height: 218px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
  }
  .content-caption .content-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 40px;
    background-color: #111111;
    border-radius: 30px;
  }
  .content-caption .content-button a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* Gallerry Out */

  /* Footer Responsive IN*/
  .footer-container {
    flex-direction: column;
  }
  .footer-column {
    width: 100%;
  }
  .footer-column ul {
    gap: 1rem;
  }

  /* Footer Responsive Out*/
}
